<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854078490533-ur7i1hm5g53942o0ucb7rjghipilt7pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854078490533-ur7i1hm5g53942o0ucb7rjghipilt7pg</string>
	<key>API_KEY</key>
	<string>AIzaSyBLPI4fj_lm4om_BmoLNcwlCRbmkwp0c8g</string>
	<key>GCM_SENDER_ID</key>
	<string>854078490533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieDb</string>
	<key>PROJECT_ID</key>
	<string>cmdb-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>cmdb-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854078490533:ios:008b99da6491b9d0a34a4c</string>
</dict>
</plist>